In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_pickle("C:/Datasets/Methylation/GSE40279/raw/hannum32.pkl")

In [7]:
meta = pd.read_excel("C:/Datasets/Methylation/GSE40279/raw/hannum_pmeta.xlsx")

In [12]:
meta

        REF_ID gender  age series_id
0    GSM989827      F   67  GSE40279
1    GSM989828      F   89  GSE40279
2    GSM989829      F   66  GSE40279
3    GSM989830      F   64  GSE40279
4    GSM989831      F   62  GSE40279
..         ...    ...  ...       ...
651  GSM990623      F   78  GSE40279
652  GSM990624      M   71  GSE40279
653  GSM990625      M   68  GSE40279
654  GSM990626      F   61  GSE40279
655  GSM990627      M   73  GSE40279

[656 rows x 4 columns]

RangeIndex(start=0, stop=656, step=1)